log.file=/path/to/alouer.log
rss.feed.kijiji=http://montreal.kijiji.ca/rss/feed
rss.feed.craigslist=http://montreal.en.craigslist.ca/rss/feed
rss.feed.cache=/path/to/alouer.cache
google.maps.geocache=/path/to/alouer.geocache
google.maps.username=theusername
google.maps.password=thepassword
google.maps.default.latitude=45.50706872936989
google.maps.default.longitude=-73.55587005615234
google.maps.map=themaptitle
